<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>pdf.js + spring boot</title>

  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <style>
    iframe {
        border: solid 1px #bfbfbf;
        border-radius: 6px;
    }
  </style>
</head>

<body>


<script type="text/javascript">
  function loadPdf(){
        document.getElementById('myIframe').src = '/pdfjs-4.10.38-legacy-dist/web/viewer.html?file=http://localhost:8080/media/preview';
  }

  window.onload = function() {
    loadPdf();
  };

</script>

<p >
  <iframe id="myIframe" src="" title="pdf文件预览" width="100%" height="100%"></iframe>
</p>


</body>
</html>